@charset "utf-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/*///RESET */
/*CSS*/

* {
    font-family: 'Fondamento';
}

header{
    overflow: hidden;
    background-color: #af3d3d;
    color: white;
    padding: 2em;
    font-family: 'Fondamento';
}
 
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

main {
    padding: 3em;
    background-color: black;
    color: white;
}

input:valid, textarea:valid {
    background:green;
    opacity: 0.5;
  }
  input:invalid, textarea:invalid {
    background:red;
    opacity: 0.5;
  }

#ingreso {
    text-align: center;
}

#ingreso h1{
    padding: 1em;
    font-size: 1.5em;
}

#usuarios {
    padding: 1em;
  overflow: hidden;
}

#usu2 {
    float: right;
}

#juegos {
    text-align: center;
}

#juegos li {
    list-style: none;
}

#juegos li a:link {
    text-decoration: none;
}

#juegos li a:visited {
    text-decoration: none;
    color: antiquewhite;
}
