* {
    font-family: 'Helvetica Neue', sans-serif;
}

header{
    overflow: hidden;
    background-color: #af3d3d;
    color: white;
}
 
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

input:valid, textarea:valid {
    background:rgb(121, 182, 121);
  }
  input:invalid, textarea:invalid {
    background:red;
  }

#ingreso {
    text-align: center;
}

#usuarios {
    text-align: center;
}

#juegos {
    text-align: center;
}

#juegos li {
    list-style: none;
}