* {
    font-family: 'Helvetica Neue', sans-serif;
}

header{
    overflow: hidden;
    background-color: #af3d3d;
    color: white;
}
 
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

input:valid, textarea:valid {
    background:green;
    opacity: 0.5;
  }
  input:invalid, textarea:invalid {
    background:red;
    opacity: 0.5;
  }

#ingreso {
    text-align: center;
}

#usuarios {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

#usu2 {
    margin-left:2em;
}

#juegos {
    text-align: center;
}

#juegos li {
    list-style: none;
}

#juegos li a:link {
    text-decoration: none;
}